In [1]:
#import libraries
import pandas as pd
import sqlite3
import openpyxl
import numpy as np

In [2]:
#order_table=dfs.groupby(['Order_ID'])[['Customer_ID', 'Order_Date']].sum()
#order_table

In [3]:
import sqlite3
import pandas as pd
db = sqlite3.connect('Samp.db')

In [4]:
#--1 What is the category generating the maximum sales revenue?

new_cur = db.cursor()
res = new_cur.execute("Select *, round(sum(sales),2) as sales_revenue \
                      from Product \
                      join Sale \
                      on sale.Product_ID=Product.Product_ID \
                      group by Category \
                      order by sales_revenue DESC")
ans = res.fetchall()
df=[]
for i in ans:
    df.append(i)
dff1=pd.DataFrame(df,columns=['Product_ID','Product_Name','Category','Sub_Category', 'Product-ID','Quantity','Discount','Profit','Sales','Customer_ID','Sales_revenue'])
dff1

,Product_ID,Product_Name,Category,Sub_Category,Product-ID,Quantity,Discount,Profit,Sales,Customer_ID,Sales_revenue
0,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Technology,Phones,TEC-PH-10002275,6,0.2,90.7152,907.152,BH-11710,892711.86
1,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture,Bookcases,FUR-BO-10001798,2,0.0,41.9136,261.960,CG-12520,762987.87
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels,OFF-LA-10000240,2,0.0,6.8714,14.620,DV-13045,735262.65

In [5]:
#-- 3 Are they making a loss in any categroies?

new_cur = db.cursor()
res = new_cur.execute("select *, round(sum(Profit),2) as sales_revenue \
                      from Product \
                      join Sale \
                      on sale.Product_ID=Product.Product_ID \
                      group by Category \
                      order by sales_revenue DESC")
ans = res.fetchall()
df=[]
for i in ans:
    df.append(i)
dff2=pd.DataFrame(df,columns=['Product_ID','Product_Name','Category','Sub_Category', 'Product-ID','Quantity','Discount','Profit','Sales','Customer_ID','Sales_revenue'])
dff2

,Product_ID,Product_Name,Category,Sub_Category,Product-ID,Quantity,Discount,Profit,Sales,Customer_ID,Sales_revenue
0,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Technology,Phones,TEC-PH-10002275,6,0.2,90.7152,907.152,BH-11710,153261.83
1,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels,OFF-LA-10000240,2,0.0,6.8714,14.620,DV-13045,125696.53
2,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture,Bookcases,FUR-BO-10001798,2,0.0,41.9136,261.960,CG-12520,20076.69

In [6]:
# 4 What are 5 states generating the maximum and minimum sales revenue?#
## Maximum sales
new_cur=db.cursor()
res=new_cur.execute("select *, round(sum(sales),2) as sales_revenue \
                    from Customer \
                    join Sale on sale.Customer_ID=Customer.Customer_ID join 'Order'\
                    on Customer.Customer_ID='Order'.Customer_ID\
                    join Address\
                    on Address.Order_ID='order'.Order_ID\
                    group by State\
                    order by sales_revenue DESC\
                    limit 5;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)
dff3=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Order_Date','Order_ID','Customer_ID','Country','City','State','Postal_Code','Region','Order_ID','Address_ID','Sales_revenue'])
dff3

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,...,Order_ID,Customer_ID,Country,City,State,Postal_Code,Region,Order_ID,Address_ID,Sales_revenue
0,DV-13045,Darrin,Van Huff,Corporate,FUR-CH-10000225,1,0.2,-12.1470,64.784,DV-13045,...,CA-2016-138688,DV-13045,United States,Los Angeles,California,90036,West,CA-2016-138688,AD_2,7023487.44
1,JM-15265,Janet,Molinari,Corporate,FUR-FU-10000448,2,0.0,1.5980,31.960,JM-15265,...,CA-2016-105816,JM-15265,United States,New York City,New York,10024,East,CA-2016-105816,AD_53,4212137.61
2,HP-14815,Harold,Pawlan,Home Office,FUR-CH-10004287,5,0.1,262.3900,1242.900,HP-14815,...,US-2015-118983,HP-14815,United States,Fort Worth,Texas,76106,Central,US-2015-118983,AD_14,3391627.50
3,SF-20065,Sandra,Flanagan,Consumer,FUR-CH-10002774,2,0.3,-1.0196,71.372,SF-20065,...,US-2017-156909,SF-20065,United States,Philadelphia,Pennsylvania,19140,East,US-2017-156909,AD_23,2070631.20
4,IM-15070,Irene,Maddox,Consumer,FUR-BO-10003450,4,0.7,-143.7904,69.576,IM-15070,...,CA-2016-161389,IM-15070,United States,Seattle,Washington,98103,West,CA-2016-161389,AD_13,1872039.70

In [8]:
# 4 What are 5 states generating the maximum and minimum sales revenue?#
## Minimum sales
new_cur=db.cursor()
res=new_cur.execute("select *, round(sum(sales),2) as sales_revenue \
                    from Customer \
                    join Sale on sale.Customer_ID=Customer.Customer_ID join 'Order'\
                    on Customer.Customer_ID='Order'.Customer_ID\
                    join Address\
                    on Address.Order_ID='order'.Order_ID\
                    group by State\
                    order by sales_revenue \
                    limit 5;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)
dff3=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Order_Date','Order_ID','Customer_ID','Country','City','State','Postal_Code','Region','Order_ID','Address_ID','Sales_revenue'])
dff3

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,...,Order_ID,Customer_ID,Country,City,State,Postal_Code,Region,Order_ID,Address_ID,Sales_revenue
0,MA-17995,Michelle,Arnett,Home Office,FUR-CH-10001215,4,0.2,100.1960,1603.136,MA-17995,...,CA-2016-152247,MA-17995,United States,Cheyenne,Wyoming,82001,West,CA-2016-152247,AD_5869,2453.28
1,EH-14125,Eugene,Hildebrand,Home Office,FUR-CH-10000863,1,0.2,-13.5882,120.784,EH-14125,...,CA-2017-124744,EH-14125,United States,Wheeling,West Virginia,26003,East,CA-2017-124744,AD_7894,17570.79
2,NC-18340,Nat,Carroll,Consumer,OFF-AP-10003849,2,0.1,107.3460,644.076,NC-18340,...,CA-2017-111332,NC-18340,United States,Fargo,North Dakota,58103,Central,CA-2017-111332,AD_4362,19610.74
3,QJ-19255,Quincy,Jones,Corporate,FUR-BO-10004834,5,0.0,1013.1270,4404.900,QJ-19255,...,CA-2017-104066,QJ-19255,United States,Burlington,Vermont,5408,East,CA-2017-104066,AD_2234,37330.11
4,GT-14710,Greg,Tran,Consumer,FUR-BO-10002213,10,0.2,-50.0980,4007.840,GT-14710,...,CA-2015-124450,GT-14710,United States,Washington,District of Columbia,20016,East,CA-2015-124450,AD_1020,45812.66

In [10]:
# 5 What are the 3 products in each product segment with the highest sales?
new_cur=db.cursor()
res=new_cur.execute("select *\
                    from(\
                    select *, \
                    dense_rank() over (PARTITION by segment  order by sales DESC ) as ranking\
                    from Customer\
                    join Sale\
                    on sale.Customer_ID=Customer.Customer_ID\
                    join Product\
                    on sale.Product_ID=Product.Product_ID\
                    group by Product_Name) \
                    where ranking <4;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)

dff4=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Product_ID','Product_Name','Category','Sub_Category','Ranking'])
dff4

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,Product_ID,Product_Name,Category,Sub_Category,Ranking
0,SC-20095,Sanjit,Chand,Consumer,OFF-BI-10001120,5,0.0,4630.4755,9449.950,SC-20095,OFF-BI-10001120,Ibico EPK-21 Electric Binding System,Office Supplies,Binders,1
1,KL-16645,Ken,Lonsdale,Consumer,OFF-SU-10000151,5,0.0,327.5060,8187.650,KL-16645,OFF-SU-10000151,High Speed Automatic Electric Letter Opener,Office Supplies,Supplies,2
2,BM-11140,Becky,Martin,Consumer,TEC-MA-10000822,8,0.4,-1359.9920,8159.952,BM-11140,TEC-MA-10000822,Lexmark MX611dhe Monochrome Laser Printer,Technology,Machines,3
3,BS-11365,Bill,Shonely,Corporate,TEC-MA-10001047,7,0.0,2365.9818,9099.930,BS-11365,TEC-MA-10001047,"3D Systems Cube Printer, 2nd Generation, Magenta",Technology,Machines,1
4,GT-14635,Grant,Thornton,Corporate,TEC-MA-10004125,4,0.5,-3839.9904,7999.980,GT-14635,TEC-MA-10004125,Cubify CubeX 3D Printer Triple Head Print,Technology,Machines,2
5,FH-14365,Fred,Hopkins,Corporate,TEC-CO-10001766,7,0.0,1480.4671,3149.930,FH-14365,TEC-CO-10001766,Canon PC940 Copier,Technology,Copiers,3
6,SM-20320,Sean,Miller,Home Office,TEC-MA-10002412,6,0.5,-1811.0784,22638.480,SM-20320,TEC-MA-10002412,Cisco TelePresence System EX90 Videoconferenci...,Technology,Machines,1
7,TA-21385,Tom,Ashbrook,Home Office,TEC-CO-10004722,4,0.2,3919.9888,11199.968,TA-21385,TEC-CO-10004722,Canon imageCLASS 2200 Advanced Copier,Technology,Copiers,2
8,AB-10060,Adam,Bellavance,Home Office,OFF-BI-10004995,4,0.2,1415.4296,4355.168,AB-10060,OFF-BI-10004995,GBC DocuBind P400 Electric Binding System,Office Supplies,Binders,3

In [15]:
# 6 Are they the 3 most profitable products as well?
new_cur=db.cursor()
res=new_cur.execute("select *\
                    from(\
                    select *, \
                    dense_rank() over (PARTITION by segment  order by Profit DESC ) as ranking\
                    from Customer\
                    join Sale\
                    on sale.Customer_ID=Customer.Customer_ID\
                    join Product\
                    on sale.Product_ID=Product.Product_ID\
                    group by Product_Name) \
                    where ranking <4;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)

dff5=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Product_ID','Product_Name','Category','Sub_Category','Ranking'])
dff5

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,Product_ID,Product_Name,Category,Sub_Category,Ranking
0,SC-20095,Sanjit,Chand,Consumer,OFF-BI-10001120,5,0.0,4630.4755,9449.950,SC-20095,OFF-BI-10001120,Ibico EPK-21 Electric Binding System,Office Supplies,Binders,1
1,CM-12385,Christopher,Martinez,Consumer,OFF-BI-10003527,5,0.0,3177.4750,6354.950,CM-12385,OFF-BI-10003527,Fellowes PB500 Electric Punch Plastic Comb Bin...,Office Supplies,Binders,2
2,KD-16270,Karen,Daniels,Consumer,TEC-MA-10003979,7,0.0,2400.9657,4899.930,KD-16270,TEC-MA-10003979,Ativa V4110MDD Micro-Cut Shredder,Technology,Machines,3
3,BS-11365,Bill,Shonely,Corporate,TEC-MA-10001047,7,0.0,2365.9818,9099.930,BS-11365,TEC-MA-10001047,"3D Systems Cube Printer, 2nd Generation, Magenta",Technology,Machines,1
4,FH-14365,Fred,Hopkins,Corporate,TEC-CO-10001766,7,0.0,1480.4671,3149.930,FH-14365,TEC-CO-10001766,Canon PC940 Copier,Technology,Copiers,2
5,MC-17425,Mark,Cousins,Corporate,TEC-MA-10000010,8,0.0,1459.2000,3040.000,MC-17425,TEC-MA-10000010,Hewlett-Packard Deskjet 3050a All-in-One Color...,Technology,Machines,3
6,TA-21385,Tom,Ashbrook,Home Office,TEC-CO-10004722,4,0.2,3919.9888,11199.968,TA-21385,TEC-CO-10004722,Canon imageCLASS 2200 Advanced Copier,Technology,Copiers,1
7,NM-18445,Nathan,Mautz,Home Office,TEC-MA-10002927,2,0.0,1995.9900,3991.980,NM-18445,TEC-MA-10002927,Canon imageCLASS MF7460 Monochrome Digital Las...,Technology,Machines,2
8,SR-20740,Steven,Roelle,Home Office,TEC-MA-10003673,5,0.0,1668.2050,3404.500,SR-20740,TEC-MA-10003673,Hewlett-Packard Desktjet 6988DT Refurbished Pr...,Technology,Machines,3

In [18]:
# 7 What are the 3 best-seller products in each product segment? (Quantity-wise)
# First create a temporary table
new_cur=db.cursor()
res=new_cur.execute("Create TEMPORARY Table if not exists temp1 as \
                    select *, \
                    sum(Quantity) over (PARTITION by Product_Name ) as count_quantity\
                    from Customer\
                    join Sale\
                    on sale.Customer_ID=Customer.Customer_ID \
                    join Product\
                    on sale.Product_ID=Product.Product_ID;")

In [20]:
# 7 What are the 3 best-seller products in each product segment? (Quantity-wise)
new_cur=db.cursor()
res=new_cur.execute("select *\
                    from(\
                    select *,\
                    dense_rank() over (PARTITION by segment order by count_quantity DESC ) as ranking\
                    from temp1\
                    group by Product_Name)\
                    where ranking <4\
                    order by segment;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)

dff6=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Product_ID','Product_Name','Category','Sub_Category','Count_Quantity','Ranking'])
dff6

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,Product_ID,Product_Name,Category,Sub_Category,Count_Quantity,Ranking
0,RD-19900,Ruben,Dartt,Consumer,OFF-EN-10001990,5,0.00,13.3480,28.400,RD-19900,OFF-EN-10001990,Staple envelope,Office Supplies,Envelopes,170,1
1,GT-14710,Greg,Tran,Consumer,OFF-AR-10001166,3,0.00,8.8686,22.740,GT-14710,OFF-AR-10001166,Staples in misc. colors,Office Supplies,Art,86,2
2,BD-11605,Brian,Dahlen,Consumer,FUR-TA-10004086,4,0.00,75.6624,343.920,BD-11605,FUR-TA-10004086,KI Adjustable-Height Table,Furniture,Tables,74,3
3,DW-13585,Dorothy,Wardle,Corporate,OFF-FA-10002780,9,0.20,6.9732,21.456,DW-13585,OFF-FA-10002780,Staples,Office Supplies,Fasteners,215,1
4,NB-18655,Nona,Balk,Corporate,FUR-TA-10001095,4,0.45,-167.3184,383.438,NB-18655,FUR-TA-10001095,Chromcraft Round Conference Tables,Furniture,Tables,61,2
5,MK-17905,Michael,Kennedy,Corporate,OFF-SU-10001225,2,0.00,0.1472,7.360,MK-17905,OFF-SU-10001225,Staple remover,Office Supplies,Supplies,61,2
6,AS-10225,Alan,Schoenberger,Corporate,FUR-CH-10003774,6,0.00,70.9644,545.880,AS-10225,FUR-CH-10003774,"Global Wood Trimmed Manager's Task Chair, Khaki",Furniture,Chairs,59,3
7,MA-17560,Matt,Abelman,Home Office,OFF-PA-10000249,3,0.20,9.9468,29.472,MA-17560,OFF-PA-10000249,Easy-staple paper,Office Supplies,Paper,150,1
8,CS-12400,Christopher,Schild,Home Office,TEC-AC-10003832,3,0.20,-7.7247,617.976,CS-12400,TEC-AC-10003832,Imation 16GB Mini TravelDrive USB 2.0 Flash Drive,Technology,Accessories,75,2
9,CS-12400,Christopher,Schild,Home Office,TEC-AC-10003832,3,0.20,-7.7247,617.976,CS-12400,TEC-AC-10003832,Logitech P710e Mobile Speakerphone,Technology,Accessories,75,2
10,AB-10060,Adam,Bellavance,Home Office,OFF-PA-10001970,2,0.00,11.5432,24.560,AB-10060,OFF-PA-10001970,Xerox 1881,Office Supplies,Paper,70,3
11,AB-10060,Adam,Bellavance,Home Office,OFF-PA-10001970,2,0.00,11.5432,24.560,AB-10060,OFF-PA-10001970,Xerox 1908,Office Supplies,Paper,70,3

In [22]:
# 8 What are the top 3 worst-selling products in every category? (Quantity-wise)
new_cur=db.cursor()
res=new_cur.execute("select *\
                    from(\
                    select *,\
                    dense_rank() over (PARTITION by segment order by count_quantity ) as ranking\
                    from temp1\
                    group by Product_Name)\
                    where ranking <4\
                    order by segment;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)

dff7=pd.DataFrame(df,columns=['Customer_ID','First_Name','Last_Name','Segment','Product_ID','Quantity','Discount','Profit','Sales','Customer_ID','Product_ID','Product_Name','Category','Sub_Category','Count_Quantity','Ranking'])
dff7

,Customer_ID,First_Name,Last_Name,Segment,Product_ID,Quantity,Discount,Profit,Sales,Customer_ID,Product_ID,Product_Name,Category,Sub_Category,Count_Quantity,Ranking
0,DK-12895,Dana,Kaydos,Consumer,OFF-AR-10002704,1,0.00,4.4940,14.980,DK-12895,OFF-AR-10002704,Boston 1900 Electric Pencil Sharpener,Office Supplies,Art,1,1
1,RA-19915,Russell,Applegate,Consumer,FUR-BO-10002206,1,0.15,-12.6882,119.833,RA-19915,FUR-BO-10002206,"Bush Saratoga Collection 5-Shelf Bookcase, Han...",Furniture,Bookcases,1,1
2,JL-15505,Jeremy,Lonsdale,Consumer,FUR-CH-10002317,1,0.20,25.8980,207.184,JL-15505,FUR-CH-10002317,Global Enterprise Series Seating Low-Back Swiv...,Furniture,Chairs,1,1
3,IL-15100,Ivan,Liston,Consumer,OFF-PA-10000048,1,0.00,3.1104,6.480,IL-15100,OFF-PA-10000048,Xerox 20,Office Supplies,Paper,1,1
4,NM-18520,Neoma,Murray,Consumer,OFF-LA-10003388,2,0.00,2.8224,5.760,NM-18520,OFF-LA-10003388,Avery 5,Office Supplies,Labels,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,MH-18115,Mick,Hernandez,Home Office,TEC-MA-10002981,3,0.10,152.0883,350.973,MH-18115,TEC-MA-10002981,I.R.I.S IRISCard Anywhere 5 Card Scanner,Technology,Machines,3,3
65,CC-12430,Chuck,Clark,Home Office,TEC-MA-10003176,1,0.20,38.6100,343.200,CC-12430,TEC-MA-10003176,Okidata B400 Printer,Technology,Machines,3,3
66,VP-21730,Victor,Preis,Home Office,TEC-PH-10001468,3,0.00,163.8180,546.060,VP-21730,TEC-PH-10001468,Panasonic Business Telephones KX-T7736,Technology,Phones,3,3
67,AS-10630,Ann,Steele,Home Office,TEC-MA-10003066,3,0.40,44.8680,336.510,AS-10630,TEC-MA-10003066,Wasp CCD Handheld Bar Code Reader,Technology,Machines,3,3
68,SN-20560,Skye,Norling,Home Office,OFF-PA-10001661,3,0.20,4.3326,11.952,SN-20560,OFF-PA-10001661,Xerox 1922,Office Supplies,Paper,3,3

In [23]:
# 9 How many unique customers per month are there for the year 2016. (There's a catch here: contrary to other 'heavier'
# RDBMS, SQLite does not support the functions YEAR() 
# or MONTH() to extract the year or the month in a date. You will have to create two new columns: year and month.)
new_cur=db.cursor()
res=new_cur.execute("select \
                    count(distinct customer.Customer_ID) as count_cust,\
                    strftime('%m' , order_date) as mnth,\
                    strftime('%Y', order_date) as yr\
                    from 'order'\
                    JOIN Customer\
                    on customer.Customer_ID='order'.customer_ID\
                    WHERE  yr = '2016' \
                    GROUP BY mnth;")
ans=res.fetchall()
df=[]
for i in ans:
    df.append(i)

dff8=pd.DataFrame(df,columns=['Count_Customer','Month','Year'])
dff8

    Count_Customer Month  Year
0               46    01  2016
1               42    02  2016
2               80    03  2016
3               83    04  2016
4               96    05  2016
5               90    06  2016
6               89    07  2016
7               86    08  2016
8              176    09  2016
9               95    10  2016
10             165    11  2016
11             157    12  2016