In [1]:
#import libraries
import pandas as pd
import sqlite3
import openpyxl
import numpy as np

In [2]:
#order_table=dfs.groupby(['Order_ID'])[['Customer_ID', 'Order_Date']].sum()
#order_table

Connect to the database in sqlite, create a database named Samp.db and read the csv file

In [3]:
import sqlite3
import pandas as pd
db = sqlite3.connect('Samp.db', timeout=10)
dfs = pd.read_csv('Sample-Superstore.csv', sep=',', encoding='ISO-8859-1')
dfs

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [6]:
dfs.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

Create ship_ID and Adress_ID

In [7]:
sh_ID=[]
for i in np.arange(0,len(dfs)):
    s = '{}_{}'.format('SH', i)
    sh_ID.append(s)

In [8]:
Ad_ID=[]
for i in np.arange(0,len(dfs)):
    s = '{}_{}'.format('AD', i)
    Ad_ID.append(s)

In [9]:
dfs['Shipment_ID']=sh_ID

In [10]:
dfs['Address_ID']=Ad_ID

Replace spaces with underline in the header of columns

In [11]:
dfs.columns=dfs.columns.str.replace(' ','_')
dfs

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,Shipment_ID,Address_ID
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,SH_0,AD_0
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,SH_1,AD_1
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,SH_2,AD_2
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,SH_3,AD_3
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,SH_4,AD_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,SH_9989,AD_9989
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,SH_9990,AD_9990
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,SH_9991,AD_9991
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,SH_9992,AD_9992
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,SH_9993,AD_9993

Convert dates from %m/%d/%Y' format to %m-%d-%Y'

In [12]:
dfs['Order_Date']=pd.to_datetime(dfs['Order_Date'], format='%m/%d/%Y')
dfs['Ship_Date']=pd.to_datetime(dfs['Ship_Date'], format='%m/%d/%Y')

Split first and last names

In [13]:
df_n=dfs['Customer_Name'].str.split(' ', n=1, expand=True)
df_n.columns= ['First_Name','Last_Name']
#df_n.set_index(dfs.index)
dfs_n=dfs.join(df_n)

create Order table

In [14]:
df1=dfs_n[['Order_ID', 'Order_Date','Customer_ID']]

df1=df1.drop_duplicates()
df1

            Order_ID Order_Date Customer_ID
0     CA-2016-152156 2016-11-08    CG-12520
2     CA-2016-138688 2016-06-12    DV-13045
3     US-2015-108966 2015-10-11    SO-20335
5     CA-2014-115812 2014-06-09    BH-11710
12    CA-2017-114412 2017-04-15    AA-10480
...              ...        ...         ...
9986  CA-2016-125794 2016-09-29    ML-17410
9987  CA-2017-163629 2017-11-17    RA-19885
9989  CA-2014-110422 2014-01-21    TB-21400
9990  CA-2017-121258 2017-02-26    DB-13060
9993  CA-2017-119914 2017-05-04    CC-12220

[5009 rows x 3 columns]

In [15]:
#te=dfs_n.groupby(['Order_ID'])[['Ship_Date', 'Ship_Mode']].sum()
#te

Create Shipment table

In [16]:
df2=dfs_n[['Order_ID','Ship_Date', 'Ship_Mode', 'Shipment_ID']]
df2=df2.drop_duplicates()
df2

            Order_ID  Ship_Date       Ship_Mode Shipment_ID
0     CA-2016-152156 2016-11-11    Second Class        SH_0
1     CA-2016-152156 2016-11-11    Second Class        SH_1
2     CA-2016-138688 2016-06-16    Second Class        SH_2
3     US-2015-108966 2015-10-18  Standard Class        SH_3
4     US-2015-108966 2015-10-18  Standard Class        SH_4
...              ...        ...             ...         ...
9989  CA-2014-110422 2014-01-23    Second Class     SH_9989
9990  CA-2017-121258 2017-03-03  Standard Class     SH_9990
9991  CA-2017-121258 2017-03-03  Standard Class     SH_9991
9992  CA-2017-121258 2017-03-03  Standard Class     SH_9992
9993  CA-2017-119914 2017-05-09    Second Class     SH_9993

[9994 rows x 4 columns]

Create Customer table

In [17]:
df3=dfs_n[['Customer_ID', 'First_Name','Last_Name','Segment']]
df3=df3.drop_duplicates()
df3

     Customer_ID First_Name    Last_Name      Segment
0       CG-12520     Claire         Gute     Consumer
2       DV-13045     Darrin     Van Huff    Corporate
3       SO-20335       Sean    O'Donnell     Consumer
5       BH-11710    Brosina      Hoffman     Consumer
12      AA-10480     Andrew        Allen     Consumer
...          ...        ...          ...          ...
8666    CJ-11875       Carl      Jackson    Corporate
9209    RS-19870        Roy       Skaria  Home Office
9399    SC-20845       Sung        Chung     Consumer
9441    RE-19405    Ricardo      Emerson     Consumer
9558    SM-20905      Susan  MacKendrick     Consumer

[793 rows x 4 columns]

In [18]:
dfs_n.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub-Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipment_ID', 'Address_ID', 'First_Name', 'Last_Name'],
      dtype='object')

Create Product table

In [19]:
df4=dfs_n[['Product_ID','Product_Name','Category','Sub-Category']]
df4.columns=df4.columns.str.replace('-','_')
df4=df4.drop_duplicates()
df4

,Product_ID,Product_Name,Category,Sub_Category
0,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture,Bookcases
1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels
3,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables
4,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Office Supplies,Storage
...,...,...,...,...
9521,TEC-PH-10002817,RCA ViSYS 25425RE1 Corded phone,Technology,Phones
9562,TEC-MA-10003589,Cisco 8961 IP Phone Charcoal,Technology,Machines
9604,OFF-AP-10003099,"Eureka Hand Vacuum, Bagless",Office Supplies,Appliances
9673,TEC-PH-10002645,LG G2,Technology,Phones
9935,OFF-ST-10001627,Eldon Jumbo ProFile Portable File Boxes Graphi...,Office Supplies,Storage

Create Sales table

In [20]:
df5=dfs_n[['Product_ID','Customer_ID','Sales','Quantity','Profit','Discount']]
df5=df5.drop_duplicates()
df5

           Product_ID Customer_ID     Sales  Quantity    Profit  Discount
0     FUR-BO-10001798    CG-12520  261.9600         2   41.9136      0.00
1     FUR-CH-10000454    CG-12520  731.9400         3  219.5820      0.00
2     OFF-LA-10000240    DV-13045   14.6200         2    6.8714      0.00
3     FUR-TA-10000577    SO-20335  957.5775         5 -383.0310      0.45
4     OFF-ST-10000760    SO-20335   22.3680         2    2.5164      0.20
...               ...         ...       ...       ...       ...       ...
9989  FUR-FU-10001889    TB-21400   25.2480         3    4.1028      0.20
9990  FUR-FU-10000747    DB-13060   91.9600         2   15.6332      0.00
9991  TEC-PH-10003645    DB-13060  258.5760         2   19.3932      0.20
9992  OFF-PA-10004041    DB-13060   29.6000         4   13.3200      0.00
9993  OFF-AP-10002684    CC-12220  243.1600         2   72.9480      0.00

[9986 rows x 6 columns]

Create Address table

In [21]:
df6=dfs_n[['Country','City','State','Postal_Code','Region','Order_ID','Address_ID']]
df6=df6.drop_duplicates()
df6

,Country,City,State,Postal_Code,Region,Order_ID,Address_ID
0,United States,Henderson,Kentucky,42420,South,CA-2016-152156,AD_0
1,United States,Henderson,Kentucky,42420,South,CA-2016-152156,AD_1
2,United States,Los Angeles,California,90036,West,CA-2016-138688,AD_2
3,United States,Fort Lauderdale,Florida,33311,South,US-2015-108966,AD_3
4,United States,Fort Lauderdale,Florida,33311,South,US-2015-108966,AD_4
...,...,...,...,...,...,...,...
9989,United States,Miami,Florida,33180,South,CA-2014-110422,AD_9989
9990,United States,Costa Mesa,California,92627,West,CA-2017-121258,AD_9990
9991,United States,Costa Mesa,California,92627,West,CA-2017-121258,AD_9991
9992,United States,Costa Mesa,California,92627,West,CA-2017-121258,AD_9992
9993,United States,Westminster,California,92683,West,CA-2017-119914,AD_9993

Populate date to the tables

In [22]:
df1.to_sql('Order',db, index=False,if_exists='append')
df2.to_sql('Shipment',db,index=False, if_exists='append')
df3.to_sql('Customer',db, index=False, if_exists='append')
df4.to_sql('Product',db, index=False, if_exists='append')
df5.to_sql('Sale',db,index=False, if_exists='append')
df6.to_sql('Address',db,index=False, if_exists='append')

9994